/* ul {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
}

li {
    display: none;
    list-style: none;
}

li.active {
    display: block;
}

button.prev, button.next {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #FFF;
    background-color: #333;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

button.prev {
    position: absolute;
    left: 0;
    top: 80px;
}

button.next {
    position: absolute;
    right: 0;
    top: 80px;
} */

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel {
    Height: 189px;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item > div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #f1f1f1;
    color: #666;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 10%;
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}