html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

body * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

.site-header {
    width: 100%;
    position: relative;
    transition: all 0.3s;
}

.site-header__container {
    padding: 15px 10px;
}

.desktop-navigation {
    display: block;
}

.desktop-navigation__block {
    display: grid;
    grid-template-columns: 40% 60%;
}

.desktop-navigation__block-siteLogo a {
    display: block;
    padding: 10px 0 5px 10px;
}

.desktop-navigation__block-siteLogo img {
    width: auto;
    height: 35px;
}

.desktop-navigation__block-navMenu {}

.desktop-navigation__block-navMenu .menu-block {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.desktop-navigation__block-navMenu .menu-block-item {
    padding: 12px 30px;
}

.desktop-navigation__block-navMenu .menu-block-item:last-child {
    padding: 8px 30px;
}

.desktop-navigation__block-navMenu .menu-block-item:last-child a {
    color: white;
    background-color: #616161;
    padding: 0;
    display: inline-block;
    width: 30px;
    line-height: 2;
    font-size: 14px;
    height: 30px;
    text-align: center;
    border-radius: 0 4px 4px 0;
}

.desktop-navigation__block-navMenu .menu-block-item a {
    color: #000;
    font-weight: 600;
    font-size: 18px;
}

.desktop-navigation__block-navMenu .menu-block-item a:hover {
    color: gray;
}

.searchField {
    opacity: 1;
    line-height: 1.8;
    padding: 0 4px 4px;
    font-size: 18px;
    display: inline-block;
    height: 24px !important;
    margin: 0 !important;
    outline: none;
    box-shadow: none;
    position: relative;
    top: 0.4px;
    cursor: pointer;
}

.searchField:hover {
    color: gray;
}


/*MOBILE NAV*/

.mobile-navigation {
    display: none;
}

.mobile-navigation__navMenu {
    width: 100%;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
}

.mobile-navigation__navMenu button.menu-toggle-icon {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    color: black;
}

.mobile-navigation__navMenu button.menu-toggle-icon a {
    font-size: 24px;
    color: #00263d;
}

.mobile-navigation__navMenu .site-logo {
    width: 100%;
    padding: 0 0 0 15px;
    position: relative;
    top: 3px;
}

.mobile-navigation__navMenu .site-logo .image {
    max-width: 120px;
}

.mobile-navigation__navMenu .site-logo a {
    display: inline-block;
}

.mobile-navigation__navMenu .searchField {
    color: black;
    border: 0;
    padding: 0;
    font-size: 18px;
    line-height: 2;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}


/*Modal*/

.slide-overlay {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    height: 100vh;
    min-height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    -webkit-transition: visibility .2s ease, opacity .2s ease;
    -moz-transition: visibility .2s ease, opacity .2s ease;
    -o-transition: visibility .2s ease, opacity .2s ease;
    transition: visibility .2s ease, opacity .2s ease;
}

.slide-overlay.hidden {
    visibility: hidden;
    opacity: 0;
    top: -100px;
    height: calc(100% + 100px);
    height: calc(100vh + 100px);
    min-height: calc(100% + 100px);
    z-index: -1;
}

.slide-menu {
    position: fixed;
    width: 265px;
    height: 100%;
    height: 100vh;
    top: 0;
    z-index: 9999;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #101c33;
}

.modal-box {
    left: -100%;
    opacity: 0;
    transition: all 0.5s;
}

.modal-box.is-open {
    left: 0%;
    opacity: 1;
    transition: all 0.5s;
}

.modal-content {
    position: relative;
    height: 100%;
    padding: 30px 20px 20px;
}

.modal-content .btn-close {
    position: absolute;
    color: white;
    right: 15px;
    top: 0;
}


/*SEARCH*/

.search__modal {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    max-width: 250px;
    background-color: black;
    transition: all 0.5s;
    padding: 30px 10px 20px;
}

.search__modal-header {
    position: relative;
}

.search__modal .btn-close {
    position: absolute;
    color: white;
    right: 5px;
    top: -12px;
    cursor: pointer;
}

.search__modal .btn-close:hover {
    opacity: 0.85;
}

.search__modal input {
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    text-align: left;
    padding: 10px 5px 10px 5px;
    font-size: 12px;
    box-shadow: none;
    outline: none;
    color: white;
}

.search__modal input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1
}

.search__modal input::-moz-placeholder {
    color: #fff;
    opacity: 1
}

.search__modal input:-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.search__modal input::-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.search__modal input::placeholder {
    color: #fff;
    opacity: 1
}

.search__modal.is-open {
    right: 0%;
    left: auto;
    z-index: 2;
    transition: all 0.5s;
}

.scroll-to-top {
    visibility: hidden;
    font-size: 20px;
    border-radius: 3px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    z-index: -1;
    transition: opacity 300ms ease-in-out;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
}

.scroll-to-top.visible {
    visibility: visible;
    z-index: 10;
    bottom: 100px;
    animation: opacity 0.3s linear;
}

.hero__banner {
    width: 100%;
    min-height: 400px;
    overflow: hidden;
    position: relative;
}

.hero__banner-image {
    width: 100%;
}

.hero__banner-image img {
    width: 100%;
}

.hero__banner-text {
    position: absolute;
    transform: translate(10px, -50%);
    right: 30px;
    top: 40%;
    max-width: 40%;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 4px;
}

.hero__banner-text h5 {
    font-size: 24px;
    margin: 0 0 10px 0;
    color: white;
}

.hero__banner-text .description {
    font-size: 16px;
    margin: 0 0 10px 0;
    color: #fbfbfb;
}

.hero__banner-text .more-button {
    border: none;
    background: #01273e;
    color: white;
    box-shadow: none;
    outline: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
}

.hero__banner-text .more-button a {
    color: white;
}

.counter__block {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.counter__block-image img {
    width: 100%;
}

.counter__block-item {
    width: 100%;
}

.counter__block-content {
    display: flex;
    justify-content: space-between;
    padding: 40px 7% 50px;
}

.counter__block-content--text:nth-child(2) {
    margin: 0;
}

.counter__block-content--text:nth-child(1), .counter__block-content--text:nth-child(3) {
    top: 100px;
}

.counter__block-content--text {
    text-align: center;
    position: relative;
}

.counter__block-content--text h5 {
    font-size: 80px;
    margin: 0;
    color: #1d3158;
}

.counter__block-content--text p {
    margin: 0;
    font-size: 24px;
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
    .desktop-navigation__block-navMenu .menu-block-item {
        padding: 15px 10px;
    }
    .desktop-navigation__block-navMenu .menu-block-item:last-child {
        padding: 12px 10px 15px;
    }
    .searchField {
        width: 120px;
    }
    .desktop-navigation__block-navMenu .menu-block-item a {
        font-size: 16px;
    }
    .counter__block-content {
        display: flex;
        padding: 40px 3% 50px;
    }
    .counter__block-content--text h5 {
        font-size: 30px;
        margin: 0;
        color: #1d3158;
    }
    .counter__block-content--text p {
        margin: 0;
        font-size: 16px;
    }
    .counter__block-content--text:nth-child(1), .counter__block-content--text:nth-child(3) {
        top: 60px;
    }
}

@media only screen and (max-width: 768px) {
    .mobile-navigation {
        display: block;
    }
    .desktop-navigation {
        display: none;
    }
    .site-header__container {
        border-bottom: 1px solid #eee;
    }
    .hero__banner-image img {
        width: fit-content;
    }
    .counter__block-content {
        display: flex;
        justify-content: center;
        padding: 40px 0% 50px;
    }
    .counter__block-content--text h5 {
        font-size: 24px;
        margin: 0;
        color: #1d3158;
    }
    .counter__block-content--text p {
        margin: 0;
        font-size: 14px;
    }
    .counter__block-content--text:nth-child(1), .counter__block-content--text:nth-child(3) {
        top: 50px;
    }
    .counter__block-content--text {
        width: 200px;
    }
    .hero__banner-text h5 {
        font-size: 20px;
        margin: 0 0 10px 0;
        color: white;
    }
    .hero__banner-text .description {
        font-size: 14px;
    }
    .hero__banner-text .more-button {
        font-size: 12px;
    }
}

@media only screen and (max-width: 568px) {
    .counter__block-content--text {
        width: 120px;
    }
    .hero__banner-text {
        transform: translate(0px, 0);
        width: 100%;
        max-width: 100%;
        left: 0;
        top: auto;
        bottom: 5px;
        border-radius: 0;
        height: fit-content;
    }
    .hero__banner-text .description {
        text-overflow: ellipsis;
        overflow: hidden;
        height: 20px;
        width: 100%;
        white-space: nowrap;
    }
    .hero__banner-text .more-button {
        padding: 5px 20px;
    }
}